{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  
}

section{
  position:relative;
  min-height: 100vh;
  padding:50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column; 
  background-image:url(gate.jpeg);
  background-size:cover;
  
}
section .contact{
  max-width: 800px;
  text-align: center;

}
section .contact h1{
  font-size: 36px;
  font-weight: 500;
  color:#fff;
}
section .contact p{
  font-weight: 250;
  color:#fff;
}
.container{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
margin-top: 30px;

}
.container .contactinfo{
  width: 50%;
  display: flex;
  flex-direction: column;
}
.container .contactinfo .box{
  position: relative;
  padding: 20px 0;
  display: flex;
}
.container .contactinfo .box .icon{
  min-width: 60px;
  height: 60px;
  background:#fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}
.container .contactinfo .box .text{
  display: flex;
  margin-left:20px;
  font-size: 16px;
  color:#fff;
  flex-direction: column;
  font-weight: 300;

}
.container .contactinfo .box .text h3{
  font-weight: 500;
  color:#00bcd4;
}
.contactform{
  width: 40%;
  padding: 40px;
  background:#fff;
  border-radius: 20%;

}
.contactform h2{
  font-size: 30px;
  color:#333;
  font-weight: 500;
}
.contactform .input{
  position: relative;
  width: 100;
  margin-top: 10px;
}
.contactform .input input,.contactform .input textarea{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin:10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline:none;
}
.contactform .input span{
  position: absolute;
  left:0 ;
  padding: 5px 0;
  font-size: 16px;
  margin:10px 0;
  pointer-events: none;
  transition: 0.5%;
  color:#666;

}
.contactform .input input:focus~span,.contactform .input input:valid~span
,.contactform .input textarea:focus~span,.contactform .input textarea:valid~span{
  color:#e91e63;
  font-size: 12px;
  transform: translatey(-20px);
}
.contactform .input input[type="submit"]{
  width: 100px;
  background:#00bcd4;
  color:#fff;
  border:none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;


}